/* Common element selectors */
body {
  background-color: #edefee;
  font-family: 'Markazi Text', serif;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3rem;
}

/* different colour for your browser size if less than 50rem ~ 800px */
@media only screen and (max-width: 50rem) {
  body {
    background-color: rgb(126, 182, 135);
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 40rem;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
}

footer {
  display: flex;
  text-align: center;
  vertical-align: middle;
}

footer div {
  flex: 1;
  padding: auto;
}

footer img {
  height: 4rem;
  max-height: 100%;
  vertical-align: middle;
}

/* style also changes in index.js */
#home {
  background: #b2c3af;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

article {
  background: white;
  border-radius: 2rem;
  color: #000000;
  display: inline-block;
  font-family: "Open Sans", Arial;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 2rem;
  opacity: 0.8;
  text-align: auto;
}

article:first-child {
  opacity: 1;
  text-align: center;
  width: 100%;
}

article:not(:first-child) {
  flex: 1;
}

article:not(:first-child) img {
  display: block;
  border-bottom: 0.1rem solid slategray;
  height: 7rem;
  margin: auto;
  max-height: 100%;
}

.menu {
  background-color: #b2c3af;
  border-radius: 2rem;
  box-shadow: rgb(38, 57, 77) 0rem 2rem 3rem -1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0%;
  margin-bottom: 3rem;
  opacity: 0.9;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.intro-menu > img {
  border-radius: 2rem;
  box-shadow: rgb(38, 57, 77) 0rem 2rem 3rem -1rem;
  filter: blur(0.03rem);
  height: auto;
  width: 75%;
}

.intro-menu {
  border-radius: 2rem;
  color: rgb(39, 39, 39);
  text-align: center;
}

.home-menu ul {
  background-color: white;
  border-radius: 2rem;
  list-style: none;
  padding: 3rem;
}

.home-menu h2 {
  text-shadow: 0.06rem 0.06rem black;
}

.home-menu ul:after {
  clear: both;
  content: "";
  display: block;
}

.home-menu li {
  border-bottom: 0.08rem solid slategray;
  float: left;
  margin: 2rem 0 2rem 8%;
  padding: 0;
  width: 75%;
}

.dish {
  background-color: transparent;
  color: #555;
  float: left;
  font-weight: bold;
  padding-right: 1.5rem;
  position: relative;
  z-index: 1;
}

.price {
  background-color: transparent;
  color: #555;
  float: right;
  font-weight: bold;
  position: relative;
  padding-left: 1.5rem;
}

.description {
  color: #999;
  clear: both;
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  padding-top: 1rem;
  position: relative;
  top: -0.7rem;
}