nav{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.nav-btn {
    background: #b2c3af;
    border:1px solid #000000;
    color:#1b1b1b;
    font-size:2rem;
    padding:1rem 2rem;
    text-decoration:wavy;
}

.nav-btn:hover {
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    border:1px solid #000000;
    color:#1b1b1b;
    padding:2rem 2rem;
}