.testimonial {
    background-color: #b2c3af;
    border-radius: 2rem;
    margin-inline: 2rem;
    margin-bottom: 1rem;
}

.testimonial-pic {
    aspect-ratio: 1; /* will make width equal to height (500px container) */
    border-radius: 5px;
    border-top: 0.1rem solid black;
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    object-fit: cover; /* use the one you need */
    float: left;
    height: 5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: auto;
}

.testimonial-name {
    background-color: transparent;
    color: black;
    float: left;
    font-weight: bold;
    padding-right: 1.5rem;
    position: relative;
    top: 2.5rem;
    z-index: 1;
}

.testimonial-description {
    color: #3c3c3c;
    clear: both;
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: relative;
    text-align: left;
    top: -0.7rem;

    overflow: hidden;
    max-width: 70rem;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}