/* Common element selectors */
body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header img {
    max-width: 100%;
    width: 40rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

footer {
    display: flex;
    text-align: center; 
    vertical-align: middle;
}

footer div {
    flex: 1;
    padding: auto;
}

footer img {
    max-height: 100%;
    height: 4rem;
    vertical-align: middle;
}

/* style also changes in index.js */
#home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #b2c3af;
    padding: 10px;
    border-radius: 25px;
} 

article {
    display: inline-block;
    font-family: "Open Sans", Arial;
    font-size: 20px;
    color: #000000;
    text-align: auto;
    background: white;
    border-radius: 6px;
    padding: 20px;
    margin: 12px;
    border-radius: 25px;
    opacity: 0.8;
}

article:first-child {
    width: 100%;
    text-align: center;
    opacity: 1;
}
  
article:not(:first-child) {
    flex: 1;
}

article:not(:first-child) img {
    max-height: 100%;
    height: 7rem;
    border-bottom: 3px solid slategray;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
    left: 0%;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    background-color: #b2c3af;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 25px;
}

.intro-menu > img {
    width: 75%;
    border-radius: 25px;
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    filter: blur(0.5px);
}

.intro-menu {
    text-align: center;
    color: rgb(39, 39, 39);
    border-radius: 25px;
}

.home-menu ul {
    background-color: white;
    border-radius: 25px;
    list-style: none;
    padding: 30px;
}

.home-menu h2 {
    text-shadow: 0.5px 0.5px black;
}

.home-menu ul:after {
    content: "";
    clear: both;
    display: block;
}

.home-menu li {
    float: left;
    width: 75%;
    padding: 0;
    margin: 20px 0 20px 8%;
    border-bottom: 1px solid slategray;
}

.dish {
    float: left;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-right: 15px;
}

.price {
    float: right;
    color: #555;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    padding-left: 15px;
}

.description {
    clear: both;
    display: block;
    color: #999;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    position: relative;
    top: -7px;
}



