/* Common element selectors */
body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 40rem;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

footer {
    display: flex;
    text-align: center; 
    vertical-align: middle;
}

footer div {
    flex: 1;
    padding: auto;
}

footer img {
    height: 4rem;
    max-height: 100%;
    vertical-align: middle;
}

/* style also changes in index.js */
#home {
    background: #b2c3af;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
} 

article {
    background: white;
    border-radius: 25px;
    color: #000000;
    display: inline-block;
    font-family: "Open Sans", Arial;
    font-size: 20px;
    margin: 12px;
    padding: 20px;
    opacity: 0.8;
    text-align: auto;
}

article:first-child {
    opacity: 1;
    text-align: center;
    width: 100%;
}
  
article:not(:first-child) {
    flex: 1;
}

article:not(:first-child) img {
    border-bottom: 3px solid slategray;
    height: 7rem;
    max-height: 100%;
}

.menu {
    background-color: #b2c3af;
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0%;
    opacity: 0.9;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

.intro-menu > img {
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    filter: blur(0.5px);
    height: auto;
    width: 75%;
}

.intro-menu {
    border-radius: 25px;
    color: rgb(39, 39, 39);
    text-align: center;
}

.home-menu ul {
    background-color: white;
    border-radius: 25px;
    list-style: none;
    padding: 30px;
}

.home-menu h2 {
    text-shadow: 0.5px 0.5px black;
}

.home-menu ul:after {
    clear: both;
    content: "";
    display: block;
}

.home-menu li {
    border-bottom: 1px solid slategray;
    float: left;
    margin: 20px 0 20px 8%;
    padding: 0;
    width: 75%;
}

.dish {
    background-color: transparent;
    color: #555;
    float: left;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}

.price {
    background-color: transparent;
    color: #555;
    float: right;
    font-weight: bold;
    position: relative;
    padding-left: 15px;
}

.description {
    color: #999;
    clear: both;
    display: block;
    font-size: 14px;
    font-style: italic;
    padding-top: 10px;
    position: relative;
    top: -7px;
}



